.hero{
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRu1YIs9kie3qASJVyUA9pugf0M3cZUFZ20cQ&s");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 90vh;
    width: 100%;
}

.hero .container{
    padding-top: 13%;

}
.hero h1{
    color:#fff;
    font-size: 60px;
}
.hero p{
    color:white;
    opacity: 0.8;
}
form{
    background-color: #fff;
    border-radius: 5px;
    margin-top: 50px;
    padding:0 15px;
    
}
form input {
    padding: 4px;
    width: 85%;
    border: 1px solid rgba (128, 128, 128,0.2);
    margin-top: 3px;
    border-radius: 5px;
    margin:5px;
    
}

form span{
    font-size: 14px;
    color:grey;
}

input::placeholder{
    font-size: 17px;
    color:black;
}
form .box{
    padding: 15px;
    border-left: 1px solid rgba(128, 128, 128,0.2);
}
form .box:nth-child(1){
    border-left: none;
}
form h4{
    font-weight: 500;
}

@media screen and (max-width:800px){
    .hero .container{
        padding-top: 30%;
    }
    form{
        display: flex;
        flex-wrap: wrap;
    }
    form .box{
        border-left:none;
    }
    form input{
        width:100%;
    }
    
}